.center{ text-align:center; }

.brand{ position:relative; }
.brand .img{ position:absolute; top:3px; }
.brand .text{ padding-left:45px !important; }

/* Countdown timer */
#counter{ display:inline-block; }
.fixed-height-150{ height:150px; }

/* Gloabl, but mainly on lat,lng finder */
.align-left{ text-align:left !important; }
#latlongmap{ height:400px; }